<!-- <div class="container">
  <ion-row>
    <ion-col>
      <h3>
        <ion-icon name="arrow-back-circle-outline" class="back-icon" routerLink="/home"></ion-icon>
        change password
      </h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="banner">
      <img src="../../../assets/password banner.svg" alt="">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item class="input-field">
        <ion-label class="label" position="floating">old password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item class="input-field">
        <ion-label class="label" position="floating">new password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item class="input-field">
        <ion-label class="label" position="floating">confirm password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button type="submit" class="submit-btn">Submit</ion-button>  
    </ion-col>
  </ion-row>
</div>
-->

<div class="container">
  <ion-row>
    <ion-col>
      <h1>
        <ion-icon name="arrow-back-circle-outline" class="back-icon" routerLink="/home"></ion-icon>
        DASHBACK
      </h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col >
      <img src="../../../assets/pin-forgot.svg" alt="" height="100" width="100" class="center">
      <br>
      <br>
      <h3>Forgotten your PIN ?</h3>
      <br>
      <p style="color:navy;">No worries! We will send you a reset.</p>
      <br>
      <br>
      <br>
      <ion-item class="input-field">
        <ion-input type="text" placeholder="Email or Mobile"></ion-input>
      </ion-item>
      <ion-button type="submit" class="submit-btn">Send Request</ion-button>
    </ion-col>
  </ion-row>
  </div>


