*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #fff;
    min-height: 100vh;
    margin:0 auto;
    
    h3{
        color: #162249;
        font-size: 24px;
        display: flex;
        .back-icon{
            margin-right: 20px;
        }
    }
    
    .banner{
        min-height: 100px;
        margin-top:0px;
        margin-bottom: 10px;
        img{
            object-fit: contain;
            width:1200px;
            height:300px;
    
        }
    }

    .input-field{
        --background: #fff;
        border: 1px solid #1d1d62;
        margin-bottom: 20px;
        margin-right:245px;
        margin-left:245px;
        color: #000;
        line-height: 15px;
        .label{
            color: #1a4170;
            font-size: 18px;
            text-transform: capitalize;
        }
    }
    .submit-btn{
        --background: #2B3E80;
        color: #fff;
        margin-right:50%;
        margin-left:50%;
        width:110px;
        box-shadow:1px 1px 5px 1px #2d3436;
    }
}