<div class="container">
  <ion-row>
    <ion-col>
      <h3>
        <ion-icon name="arrow-back-circle-outline" class="back-icon" routerLink="/home"></ion-icon>
        edit profile
      </h3>
    </ion-col>
  </ion-row>

  
    <ion-row>
      <ion-col class="profile">
        <img src="../../../assets/profile.svg" alt="">
  </ion-col>  
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item class="input-field">
        <ion-label class="label" position="floating">Email or Mobile</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="input-field">
        <ion-label class="label" position="floating">Email or Mobile</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="input-field">
        <ion-label class="label" position="floating">Email or Mobile</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-button type="submit" class="submit-btn">Save</ion-button>  
    </ion-col>
  </ion-row>
</div>