<div class="container" *ngIf="tierView == true">
  <ion-row>
    <ion-col size="12">
      <h3>
        <ion-icon name="arrow-back-circle-outline" class="back-icon" routerLink="/home"></ion-icon>
        My Team
      </h3>
    </ion-col>
    
    <ion-item class="input-field">
      <ion-label class="label" position="floating">Name or Number</ion-label>
      <ion-input type="text"></ion-input>
      <ion-icon slot="end" name="search-outline" class="icon"></ion-icon>
    </ion-item>
    </ion-row>
    <br>
    <br>
   
    <ion-card color="primary" class="card">
      <ion-card-content>
        <div id="circle"></div>
       <p class="para"> XYZ000000<br>
        Basic</p>
       </ion-card-content>
    </ion-card>
    <ion-card class="card2">
      <ion-card-content>
       
      </ion-card-content>
    </ion-card>
<br>
<br>
    <ion-card color="warning" class="card">
      <ion-card-content>
        <div id="circle"></div>
       <p class="para"> XYZ000000<br>
        Basic</p>
       </ion-card-content>
    </ion-card>
    <ion-card class="card2">
      <ion-card-content>
       
      </ion-card-content>
    </ion-card>
   
    </div>
       
  
 