<ion-content [fullscreen]="true">
  <div id="container">
    <div [ngClass]="big" style="transition-duration: 1s;">
      <img src="../../assets/profile.svg" alt="">
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8" class="dashboard-heading">
          dashback
          <p class="paragraph">Premium</p>
        </ion-col>
        <ion-col size="2">
          <div class="img-outer-div">
            <img src="../../assets/dots.svg" class="dots" alt="" (click)="slideDown()">
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="dashboard-username"> 
          <p>Hello, {{name}}!</p>
         <ion-button size="small" color="light" class="btn">Edit Profile</ion-button>&nbsp;
         <ion-button size="small"  color="light" class="btn">change Password</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="icon-text"> 
          <p>Connect with us on</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="icons"> 
          <img src="../../assets/facebook.svg" class="icon" alt="" (click)="social('fb')">
          <img src="../../assets/instagram.svg" class="icon" alt="" (click)="social('insta')">
          <img src="../../assets/whatsapp.svg" class="icon" alt="" (click)="social('whatsapp')">
          <img src="../../assets/linkedin.svg" class="icon" alt="" (click)="social('linkedin')">
          <img src="../../assets/telegram.svg" class="icon" alt="" (click)="social('telegram')">
          <img src="../../assets/twitter.svg" class="icon" alt="" (click)="social('twitter')">
        </ion-col>
      </ion-row>
      
      <ion-row>
       <ion-col>
        <ion-list class="ion-item">
          <ion-item>
            <ion-label class="ion-label-premium" routerLink="/home/premium"><img src="../../assets/Premium-icon.svg" alt=""> &nbsp; become premium member </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-label" routerLink="/home/my-team"><img src="../../assets/my-team.svg" alt=""> &nbsp; my team </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-label" routerLink="/home/coming-soon"><img src="../../assets/my-account.svg" alt=""> &nbsp; my accounts</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-label" routerLink="/home/coming-soon"><img src="../../assets/kyc.svg" alt=""> &nbsp; KYC</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-label" routerLink="/home/coming-soon"><img src="../../assets/edit-profile.svg" alt=""> &nbsp; edit profile</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-label" routerLink="/home/coming-soon"><img src="../../assets/change-password.svg" alt=""> &nbsp; change password</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-label" routerLink="/home/coming-soon"><img src="../../assets/app-lock.svg" alt=""> &nbsp; app lock</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-label" routerLink="/home/policies"><img src="../../assets/policies.svg" alt=""> &nbsp; policies</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-label" routerLink="/home/help-and-support"><img src="../../assets/help-support.svg" alt=""> &nbsp; help and support</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-label"  (click)="logout()"><img src="../../assets/logout.svg" alt="" > &nbsp; logout </ion-label>
          </ion-item>
        </ion-list>
       </ion-col>
     </ion-row>
    </ion-grid>
  </div>
 </ion-content>
